
  <%- include("../../header") -%>

  <div class="row d-flex justify-content-center" >

    <a href="/app/organizer/create"
      class="border-bottom border-left border-right product-card cursor-pointer product-card-top-border">
      <div class="product-card-heading">To Complaint</div>
      <p style="color:#ffffff;"> <b> You Can Submit Your Complaint by Entering details in this form. </b> </p>
    </a>

  </div>

  <%- include("../../footer") -%>