<%- include("../../header") -%>

  <div class="row d-flex justify-content-center">

    <a href="/app/user/dashboard"
      class="border-bottom border-left border-right product-card cursor-pointer product-card-top-border">
      <div class="product-card-heading">User Dashboard</div>
      <p style="color:white;"> <b> You can access all the Complainant in this dashboard.</b></p>
    </a>

  </div>

  <%- include("../../footer") -%>