<%- include("header") -%>

  <div class="d-flex justify-content-center pt-5 row" >

    <a href="/app/user" class="cursor-pointer m-5">
      <div class="cursor-pointer d-flex jumbotron justify-content-center user-persona-card1">
        <i class="fa fa-users" aria-hidden="true" style="font-size: 80px;"></i>
      </div>
      <div class="d-flex justify-content-space-between mt-4 user-persona-card-text1">
        For User
      </div>
    </a>

    <a href="/app/organizer" class="cursor-pointer m-5">
      <div class="cursor-pointer d-flex jumbotron justify-content-center user-persona-card2">
        <i class="fa fa-user" aria-hidden="true" style="font-size: 80px;"></i>
      </div>
      <div class="d-flex justify-content-space-between mt-4 user-persona-card-text2" >
        For Employee
      </div>
    </a>

  </div>

  <%- include("footer") -%>